
<h1>Happy <%= Date.today.strftime("%A")%> !</h1>
<p>Today's inspiration for recipes</p>

<% @recipes.each do |recipe| %>
<ul>
  <li>
  <h3><%= link_to recipe.name, recipe.link, target: "_blank" %></h3>
    <div class="recipe_details">
      <% unless recipe.difficulty.blank? %>
        <i class="fas fa-eye"></i> Difficulty: <%= recipe.difficulty %> <br>
      <% end %>
      <% unless recipe.difficulty.blank? %>
        <i class="far fa-clock"></i> Time: <%= recipe.time unless recipe.time.nil?  %><br>
      <% end %>
      <br>
      <%= link_to "Save" %>
      <!-- <%= link_to "Delete", recipe_path(recipe),
        method: :delete,
        data: { confirm: "Are you sure?" } %> -->
      <%= link_to "Next" %>
    </div>
  </li>
</ul>
<% end %>
